.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 28px;
  margin-bottom: 30px;

  background-color: #1c1c1c;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(255, 143, 207, 0.2);
}

.navbar h1 {
  font-size: 24px;
  color: #ff8fcf;
  letter-spacing: 1px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 600;
  transition: 0.2s;
}

.navbar a:hover {
  color: #ff8fcf;
}