.card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 6px;
  background-color: #f1e4e4;
  width: 600px;

}

button {
  margin-top: 10px;
  padding: 6px 12px;
  cursor: pointer;
  background-color: cadetblue;
}
