<h2>Create Task</h2>

<form #f="ngForm" (ngSubmit)="submit(f)" novalidate>

  <!-- Title Input -->
  <input
    name="title"
    [(ngModel)]="title"
    placeholder="Title"
    required
    #t="ngModel"
  >
  <p *ngIf="t.invalid && t.touched" style="color:red;">Title required</p>

  <!-- Description Input -->
  <textarea
    name="description"
    [(ngModel)]="description"
    placeholder="Description"
    required
    #d="ngModel"></textarea>
  <p *ngIf="d.invalid && d.touched" style="color:red;">Description required</p>

  <!-- Submit Button -->
  <button type="submit" [disabled]="f.invalid">Create</button>
</form>